<ng-container *ngIf="loading">
    <app-loader />
</ng-container>

<app-errors *ngIf="httpErrorsArr.length" />

<div class="container-wrapper" *ngIf="!loading">
    <div class="left-wrapper">
        <section class="content sales">
            <h2>Sales</h2>
            <!-- Add sales content here -->
            <div class="wrapper">
        
                <!-- Filter Bar -->
                <div class="filter-bar">
                    <input #inputFilterElement type="text" class="filter" placeholder="Filter" ngModel (keyup)="onTextInput(inputFilterElement.value)">
                </div>
        
                <!-- Sales Filter -->
                <div class="status-filters">
                    <button type="button" class="clear-btn" (click)="onClearBtnClick()">Clear filter</button>
                    <ng-container *ngFor="let btn of filteredFilterButtons; let i = index">
                        <button class="status-btn" [class]="btn.status" [ngClass]="{'active': btn.state === 'active', 'inactive': btn.state === 'inactive'}" [attr.data-ref]="btn.ref" (click)="onFilterBtnClick(i)" #buttonFilterElements>#{{btn.ref}}</button>
                    </ng-container>
                </div>
        
                <!-- Sales List -->
                <div class="sales-list">
                    <!-- Sold Item Card -->
                    <ng-container *ngFor="let item of filteredTradedItems; let i = index">
        
                        <div *ngIf="filteredFilterButtons[i].state === 'active'" class="item-card" [attr.data-ref]="item._createdOn.toString(16)" [attr.data-status]="item.status">
                            <h3>Sale #{{item._createdOn.toString(16)}}</h3>
                            <p>{{filteredTradedItemsDates[i]}}</p>
                            <div class="item">
                                <div class="media itm">
                                    <img [src]="item.image" alt="Vegetable Mixups">
                                </div>
                                <div class="sub-cat itm">
                                    <p>{{capitalizeCategoryService.capitalize(item.subCat)}}</p>
                                </div>
                                <div class="qty itm">
                                    <span>Qty: {{item.selectedQuantity}}</span>
                                </div>
                                <div class="price itm">
                                    <span>P&dollar;{{item.price}}</span>
                                </div>
                                <div class="product itm">
                                    <span>&dollar;{{item.product}}</span>
                                </div>
                            </div>
        
                            <div class="item-status">
                                <div *ngIf="item.status==='pending'" class="pending">
                                    <button type="button" class="reject" (click)="onStatusChange(i, 'rejected')">Reject</button>
                                    <button type="button" class="accept" (click)="onStatusChange(i, 'confirmed')">Accept</button>
                                </div>
                                <div *ngIf="item.status==='confirmed'" class="confirmed">
                                    <button type="button" class="ship" (click)="onStatusChange(i, 'shipped')">Mark as shipped</button>
                                </div>
                                <div *ngIf="item.status==='rejected'" class="rejected">Rejected</div>
                                <div *ngIf="item.status==='shipped'" class="shipped">Awaits delivery</div>
                                <div *ngIf="item.status==='delivered'" class="delivered">Completed</div>
                            </div>
                        </div>
        
                    </ng-container>
        
                </div>
            </div>
        </section>
    </div>
    <div class="right-wrapper">
        <div class="sticky">
            <button [disabled]="!updatedDbTradedItems.length" type="button" class="button" (click)="onSaveChanges()">Save changes</button>
        </div>
    </div>
</div>
