<section class="section-footer">
    <span class="author">Jivko Karakashev &copy; 2025</span>

    <nav class="footer">
        <ul class="navbar">
            <li><a class="nav-icon github" href="https://github.com/JivkoKarakashev" target="_blank"></a></li>
            <li><a class="nav-icon linkedin" href="https://linkedin.com/in/jivko-karakashev-1811202b0" target="_blank"></a></li>
            <li><a class="nav-icon x-twitter" href="https://x.com/JKarakashev" target="_blank"></a></li>
        </ul>
    </nav>
</section>