<section class="nav-wrapper">
    <input type="checkbox" name="check-box" id="check-box">
    <nav class="mobile">
        <ul class="navbar">
            <li><a class="nav-icon home" routerLink="/">Home</a></li>
            <li><a class="nav-icon guest" routerLink="/login">Login</a></li>
            <li><a class="nav-icon user" routerLink="/register">Register</a></li>
            <li><a class="nav-icon list" routerLink="/category">Category</a></li>
            <li>
                <!-- Trigger/Open The Modal -->
                <a class="nav-icon basket" href="javascript:void(0)" (click)="modalToggle()">Cart</a>
            </li>
            <!-- The Modal -->
            <app-shopping-cart-mobile #modal  [curStatus]="isShown" (closeModal)="modalToggle()"></app-shopping-cart-mobile>
        </ul>
    </nav>
</section>