<section class="nav-wrapper">
    <nav class="mobile closed"
    [@mobileNavMenuAnimation]="mobileNavMenuState"
    (@mobileNavMenuAnimation.start)="onNavMenuAnimate($event)"
    (@mobileNavMenuAnimation.done)="onNavMenuAnimate($event)"
    >
        <ul class="navbar">
            <li><a class="nav-icon home" href="/" (click)="onNavigate($event, '/')"><span class="icon"></span>Home</a></li>
            <ng-container *ngIf="!user">
                <li><a class="nav-icon guest" href="/auth/login" (click)="onNavigate($event, '/auth/login')">Login</a></li>
                <li><a class="nav-icon user" href="/auth/register" (click)="onNavigate($event, '/auth/register')">Register</a></li>
            </ng-container>
            <ng-container *ngIf="user">
                <li><a class="nav-icon square-plus" href="/create-product" (click)="onNavigate($event, '/create-product')">Publish</a></li>
                <li><a class="nav-icon profile" href="/auth/profile" (click)="onNavigate($event, '/auth/profile')">Profile</a></li>
                <li><a class="nav-icon logout" (click)="logout()">Logout</a></li>
            </ng-container>
            <li><a class="nav-icon list" href="/category" (click)="onNavigate($event, '/category')">Category</a></li>
            <li>
                <!-- Trigger/Open The Modal -->
                <a class="nav-icon basket" href="/cart" (click)="onNavigate($event, '/cart')">Cart</a>
            </li>
            <!-- The Modal -->
        </ul>
        <button #closeMenuBtn class="menu" (click)="onCloseNavMenu()"></button>
    </nav>

    <app-errors *ngIf="httpErrorsArr.length" />
</section>