<section class="nav-wrapper">
    <input type="checkbox" name="check-box" id="check-box">
    <nav class="mobile">
        <ul class="navbar">
            <li><a class="nav-icon user" href="/auth.html">Sign up</a></li>
            <li><a class="nav-icon home" href="/index.html">Home</a></li>
            <li><a class="nav-icon list" href="/category.html">Category</a></li>
            <li>
                <!-- Trigger/Open The Modal -->
                <a class="nav-icon basket" href="javascript:void(0)">Cart</a>
            </li>
            <!-- The Modal -->
            <app-shopping-cart-mobile></app-shopping-cart-mobile>
        </ul>
    </nav>
</section>