<section class="section-register">
    <div class="wrapper">
        <div class="title">
            <h2>Register</h2>
        </div>
        <form method="post" action="#">
            <div class="row">
                <i class="fa-solid fa-at"></i>
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="pass" placeholder="Password" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="rePass" placeholder="Confirm Password" required>
            </div>
            <div class="row button">
                <input type="submit" value="Signup">
            </div>
            <div class="login-link">
                <p>Already have an account?</p>
                <a routerLink="/login">Login</a>
            </div>
        </form>
    </div>

</section>