::selection {
    background: #5cb85c;
}

section.section-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 2em;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.7);
}

.wrapper .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding: 2em 1em;
    background: #22292F;
    border-radius: 2em 2em 0 0;
    color: #5270FF;
}

.wrapper .title h2 {
    font-weight: bold;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 2em;
}

.wrapper form .row {
    line-height: 2em;
    position: relative;
}

.wrapper form .row input {
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper form .row input:focus {
    border-color: #5cb85c;
    box-shadow: inset 0px 0px 2px 2px rgba(27, 136, 187, 0.25);
    outline: none;
}

.wrapper form .row input::placeholder {
    color: #616161;
}

.wrapper form .row i {
    position: absolute;
    width: 3em;
    height: 100%;
    color: #5270FF;
    background: #22292F;
    border: 1px solid rgba(55, 255, 15, 0.001);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .button input {
    font-weight: 500;
    padding-left: 0px;
    background-color: #22292F;
    color: #5270FF;
    border: 1px solid rgba(55, 255, 15, 0.001);
    cursor: pointer;
}

.wrapper form .button input:hover,
.wrapper form .button input:focus {
    color: #fff;
    background: #5cb85c;
    outline: none;
}

.wrapper form .login-link {
    text-align: center;
    background-color: #22292F;
    border-radius: 0.2em;
    color: #5270FF;
}

.wrapper form .login-link p {
    color: #fff;
}

.wrapper form .login-link a {
    color: #5270FF;
    text-decoration: none;
    border: 1px solid rgba(55, 255, 15, 0.001);
}

.wrapper form .login-link a:hover,
.wrapper form .login-link a:focus {
    color: #fff;
    border: 1px solid  #5cb85c;
    border-radius: 0.2em;
    outline: none;
}

.wrapper form div.row.button:active,
.wrapper form div.login-link a:active {
  filter: blur(1px);
}