<section class="section-register">
    <div class="wrapper">
        <div class="title">
            <h2>Register</h2>
        </div>
        <ng-container *ngIf="httpError?.error">
            <div class="alert">{{httpError.error?.message}}</div>
        </ng-container>
        <form [formGroup]="registerForm" (ngSubmit)="register()" method="post" action="#">
            <fieldset>
                <div class="row" [ngClass]="{'error': (registerForm.get('email')?.touched || registerForm.get('email')?.dirty) && registerForm.get('email')?.invalid}">
                    <i class="fa-solid fa-at"></i>
                    <input formControlName="email" class="fieldCtr" type="text" id="email" name="email" placeholder="Email" required>
                </div>
                <ng-container *ngIf="registerForm.get('email')?.touched || registerForm.get('email')?.dirty">
                    <div *ngIf="registerForm.get('email')?.errors?.['required']" class="err-msg">Eamil is required!</div>
                    <div *ngIf="!registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.errors?.['invalidEmail']" class="err-msg">Valid email is required!</div>
                </ng-container>
                <div class="row" [ngClass]="{'error': (registerForm.get('username')?.touched || registerForm.get('username')?.dirty) && registerForm.get('username')?.invalid}">
                    <i class="fas fa-user"></i>
                    <input formControlName="username" class="fieldCtr" type="text" id="username" name="username" placeholder="Username" required>
                </div>
                <ng-container *ngIf="registerForm.get('username')?.touched || registerForm.get('username')?.dirty">
                    <div *ngIf="registerForm.get('username')?.errors?.['required']" class="err-msg">Username is required.</div>
                    <div *ngIf="!registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.errors?.['minlength']" class="err-msg">Username must be at least 5 characters long!</div>
                </ng-container>
                <ng-container formGroupName="passGroup">
                    <div class="row" [ngClass]="{'error': (registerForm.get('passGroup')?.get('pass')?.touched || registerForm.get('passGroup')?.get('pass')?.dirty) && registerForm.get('passGroup')?.get('pass')?.invalid}">
                        <i class="fas fa-lock"></i>
                        <input formControlName="pass" class="fieldCtr" type="password" id="pass" name="pass" placeholder="Password" required>
                    </div>
                    <ng-container *ngIf="registerForm.get('passGroup')?.get('pass')?.touched || registerForm.get('passGroup')?.get('pass')?.dirty">
                        <div *ngIf="registerForm.get('passGroup')?.get('pass')?.errors?.['required']" class="err-msg">Password is required!</div>
                        <div *ngIf="registerForm.get('passGroup')?.get('pass')?.errors?.['minlength']" class="err-msg">Password must be at least 6 characters long!</div>
                    </ng-container>
                    <div class="row" [ngClass]="{'error': (registerForm.get('passGroup')?.get('rePass')?.touched || registerForm.get('passGroup')?.get('rePass')?.dirty) && registerForm.get('passGroup')?.invalid}">
                        <i class="fas fa-lock"></i>
                        <input formControlName="rePass" class="fieldCtr" type="password" id="rePass" name="rePass" placeholder="Confirm Password" required>
                    </div>
                    <ng-container *ngIf="registerForm.get('passGroup')?.get('rePass')?.touched || registerForm.get('passGroup')?.get('rePass')?.dirty">
                        <div *ngIf="registerForm.get('passGroup')?.get('rePass')?.errors?.['required']" class="err-msg">Re-Password is required!</div>
                        <div *ngIf="registerForm.get('passGroup')?.get('rePass')?.errors?.['minlength']" class="err-msg">Re-Password must be at least 6 characters long!</div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="registerForm.get('passGroup')?.get('rePass')?.touched || registerForm.get('passGroup')?.get('rePass')?.dirty">
                    <div *ngIf="registerForm.get('passGroup')?.get('pass')?.value != registerForm.get('passGroup')?.get('rePass')?.value" class="err-msg">Passwords don't match!</div>
                </ng-container>
                <div class="row button">
                    <input [disabled]="registerForm.invalid" type="submit" value="Signup">
                </div>
                <div class="login-link">
                    <p>Already have an account?</p>
                    <a routerLink="/login">Login</a>
                </div>
            </fieldset>
        </form>
    </div>

</section>