<!-- The Modal -->
<li class="li-modal">
    <div class="modal" #modal (click)="callParent($event)" [ngClass]="curStatus === true ? 'modal-is-shown' : 'modal-isNot-shown'">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-wrapper close">
                    <span #closeBtn (click)="callParent($event)" class="btn close-btn">&times;</span>
                </div>
                <h2>Shopping Cart</h2>
            </div>
            <div class="modal-body">
                <section class="header">
                    <label for="mobile-select_all">Select all items</label>
                    <input #checkItAll (change)="toggleSelect()" type="checkbox" id="mobile-select_all" name="mobile-select_all" value="1">
                    <!-- <label for="remove-item">Remove selected</label> -->
                    <input (click)="removeSelected()" type="button" id="remove-item" name="remove-item" class="remove-item" value="Remove selected">
                </section>

                <section class="table">
                    <table #table class="table table-borderless">
                        <thead>
                            <ng-container *ngFor="let item of listItems$">
                                <tr #rows>
                                    <th class="select-row"><input #inputs [id]="item.id" name="select-row" type="checkbox"></th>
                                    <th class="media">
                                        <img src="{{item.img}}" alt="image">
                                    </th>
                                    <th class="item-description">
                                        <p>{{item.description}}</p>
                                        <p>Color: {{item.color}}</p>
                                    </th>
                                    <th class="quantity">Quantity:11</th>
                                    <th class="price">$79.99</th>
                                </tr>
                            </ng-container>

                        </thead>

                        <tbody>
                            <tr class="subtotal">
                                <td colspan="2">Subtotal</td>
                                <td #subTotalEl class="amount"></td>
                            </tr>
                            <tr class="shipping">
                                <td colspan="2">Shipping</td>
                                <td #shipping class="amount">$20.00</td>
                            </tr>
                            <tr class="discount">
                                <td colspan="2">Discount (Code: NEWYEAR)</td>
                                <td #discount class="amount">-$10.00</td>
                            </tr>
                        </tbody>

                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <h3>Total</h3>
                <p #totalEl></p>
            </div>
            <div class="buttons">
                <a class="button finish" href="javascript:void(0)">Finish</a>
                <a class="button cancel" href="javascript:void(0)">Continue shopping</a>
            </div>
        </div>
    </div>
</li>