<section class="section-category">
    <div class="container">
        <div class="card">
            <label for="check-box-card1">
                <div id="card1-slide1" class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <p class="cat-icon clothes" href="javascript:void(0)">Clothes</p>
                        </div>
                    </div>
                </div>
            </label>

            <input type="checkbox" name="check-box-card1" id="check-box-card1">
            <div id="card1-slide2" class="check-box-card1 slide slide2">
                <div class="content">
                    <h3><a routerLink="/catalog/clothes">Clothes</a></h3>
                    <ul>
                        <li><a routerLink="/catalog/jackets">Jackets</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog/longwear">Longwear</a></li>
                    </ul>
                    <!-- <p>Jackets | Longwear</p> -->
                </div>
            </div>
        </div>

        <div class="card">
            <label for="check-box-card2">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <p class="cat-icon shoes" href="javascript:void(0)">Shoes</p>
                        </div>
                    </div>
                </div>
            </label>

            <input type="checkbox" name="check-box-card2" id="check-box-card2">
            <div class="slide slide2">
                <div class="content">
                    <h3><a routerLink="/catalog/shoes">Shoes</a></h3>
                    <ul>
                        <li><a routerLink="/catalog/trainers">Trainers</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog/boots">Boots</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog/slippers">Slippers</a></li>
                    </ul>
                    <!-- <p>Trainers | Boots | Slippers</p> -->
                </div>
            </div>
        </div>

        <div class="card">
            <label for="check-box-card3">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <p class="cat-icon accessory" href="javascript:void(0)">Accessories</p>
                        </div>
                    </div>
                </div>
            </label>

            <input type="checkbox" name="check-box-card3" id="check-box-card3">
            <div class="slide slide2">
                <div class="content">
                    <h3><a routerLink="/catalog/accessories/caps-hats">Accessories</a></h3>
                    <ul>
                        <li><a routerLink="/catalog/accessories/caps-hats">Caps & Hats</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog/accessories/belts">Belts</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Gloves</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Sunglasses</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Watches</a></li>
                    </ul>
                    <!-- <p>Caps & Hats | Belts | Gloves | Sunglasses | Watches</p> -->
                </div>
            </div>
        </div>

        <div class="card">
            <label for="check-box-card4">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <p class="cat-icon sportswear" href="javascript:void(0)">Sportswear</p>
                        </div>
                    </div>
                </div>
            </label>

            <input type="checkbox" name="check-box-card4" id="check-box-card4">
            <div class="slide slide2">
                <div class="content">
                    <h3>Sportswear</h3>
                    <ul>
                        <li><a routerLink="/catalog">Gym</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Running</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Ski & Snowboard</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Swim & Surf</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Outdoors</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Bottoms & Leggings</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Sweaters</a></li>
                    </ul>
                    <!-- <p>Gym | Running | Ski & Snowboard | Swim & Surf | Outdoors | Bottoms & Leggings | Sweaters</p> -->
                </div>
            </div>
        </div>

        <div class="card">
            <label for="check-box-card5">
                <div class="slide slide1">
                    <div class="content">
                        <div class="icon">
                            <p class="cat-icon suits" href="javascript:void(0)">Suits & Tailoring</p>
                        </div>
                    </div>
                </div>
            </label>

            <input type="checkbox" name="check-box-card5" id="check-box-card5">
            <div class="slide slide2">
                <div class="content">
                    <h3>Suits & Tailoring</h3>
                    <ul>
                        <li><a routerLink="/catalog">Blazers & Jackets</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Waistcoats</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Tuxedos & Partywear</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Waistcoats</a></li>
                        <li><p> | </p></li>
                        <li><a routerLink="/catalog">Workwear</a></li>
                    </ul>
                    <!-- <p>Blazers & Jackets | Waistcoats | Tuxedos & Partywear | Waistcoats | Workwear</p> -->
                </div>
            </div>
        </div>
    </div>
</section>