
    <nav class="desktop">
        <ul class="navbar">
            <li><a class="nav-icon home" routerLink="/">Home</a></li>
            <ng-container *ngIf="!user">
                <li><a class="nav-icon guest" routerLink="/auth/login">Login</a></li>
                <li><a class="nav-icon user" routerLink="/auth/register">Register</a></li>
            </ng-container>
            <ng-container *ngIf="user">
                <li><a class="nav-icon profile" routerLink="/auth/profile">Profile</a></li>
                <li><a class="nav-icon logout" (click)="logout()">Logout</a></li>
            </ng-container>
            <li><a class="nav-icon list" routerLink="/category">Category</a></li>
            <li>
                <!-- Trigger/Open The Modal -->
                <a class="nav-icon basket" routerLink="/cart">Cart</a>
            </li>
            <!-- The Modal -->
        </ul>
    </nav>

    <app-errors *ngIf="httpErrorsArr.length" />