
    <nav class="desktop">
        <ul class="navbar">
            <li><a class="nav-icon home" routerLink="/">Home</a></li>
            <li><a class="nav-icon guest" routerLink="/login">Login</a></li>
            <li><a class="nav-icon user" routerLink="/register">Register</a></li>
            <li><a class="nav-icon list" routerLink="/category">Category</a></li>
            <li>
                <!-- Trigger/Open The Modal -->
                <a class="nav-icon basket" routerLink="/cart">Cart</a>
            </li>
            <!-- The Modal -->
        </ul>
    </nav>


