<p>Checkout works!</p>
<ng-container *ngIf="loading">
    <app-loader />
</ng-container>

<ng-container *ngIf="httpErrorsArr.length">
    <div class="alert">{{httpErrorsArr.at(0)?.message}}</div>
</ng-container>

<div class="alert" *ngIf="errorsArr.length">
    <p>{{errorsArr.at(0)?.message}}</p>
    <div class="buttons">
        <a class="nav-icon guest" routerLink="/auth/login">sign in</a>
        <p>OR</p>
        <a class="nav-icon user" routerLink="/auth/register">register</a>
    </div>
</div>

<section class="section-checkout">
    <div class="container">
        <!-- Display a payment form -->
        <div id="checkout">
            <!-- Checkout will insert the payment form here -->
        </div>
    </div>
</section>