<app-main></app-main>
<app-footer></app-footer>

<div class="site-container">
  <header class="section-header">
    <div class="site-title">
      <a class="title-icon store" href="./index.html">eStore</a>
    </div>
    <app-header-desktop></app-header-desktop>
    <div class="drop-down">
      <label for="check-box">
        <p class="nav-icon menu">Menu</p>
      </label>
    </div>
  </header>
  <app-header-mobile></app-header-mobile>


  <!-- <section class="section-banner">
      <div class="container">
          <h2>About the<br>Communication Company<br> Business Association</h2>
          <p>In a eleifend ipsum. Proin eu elementum nunc, vel congue mi. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia Curae; Aenean nunc ipsum, fringilla eu posuere ac, facilisis
              eu lorem. Nullam lacinia eros arcu. Proin sed hendrerit erat.</p>
      </div>

  </section> -->
</div>


<router-outlet></router-outlet>