.li-modal {
    display: block;
    position: relative;
}

/* The Modal (background) */
.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    /* padding-top: 140px; */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    max-height: 100%;
    /* Full height */
    overflow-y: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* position: absolute;
    top: 0; */
    background-color: #fefefe;
    border: 1px solid rgba(136, 136, 136, 0.8);
    min-width: fit-content;
    width: 80%;
    min-height: 65vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .5s;
    animation-name: animatetop;
    animation-duration: .5s
}

input[type='number'] {
    width: 5em;
}

/* input::placeholder {
    font-size: 0.5em;
} */

span {
    font-weight: bold;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
@media screen and (pointer: coarse) {
    .close-btn {
        color: #000;
        float: right;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (pointer: fine) {
    .close-btn {
        color: #fff;
        float: right;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .close-btn:hover,
    .close-btn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: #5270FF;
    color: #fff;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
}

section.header {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;

    & div.buttons {
        display: flex;
        flex-direction: row;
        flex: 1 1 0;
        justify-content: space-between;
    }
}

fieldset {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
}

div.label {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.label-header {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    /* max-width: 12.5%; */
}

div.itms {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

*.itm {
    display: flex;
    flex: 1 1 0;
    max-width: 12.5%;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    /* display: flex;
    justify-content: space-between;
    padding: 2px 16px;
    background-color: #5270FF;
    color: #fff; */
    font-weight: bold;

}

div.total,
div.subtotal,
div.shipping,
div.discount {
    display: flex;
    flex: 1 1 0;
    gap: 2em;

    & .title {
        display: flex;
        flex: 0 0 77.78%;
        align-items: center;
        justify-content: flex-end;
    }

    & .amount {
        display: flex;
        flex: 0 0 22.22%;
        align-items: center;
        justify-content: flex-start;
    }
}

div.buttons {
    padding: .2em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    text-transform: uppercase;
    font-weight: bold;

    & .button {
        cursor: pointer;
        padding: .2em .3em;
        border: 1px solid #000;
        border-radius: .4em;
        outline: none;
    }

    & {

        .button.finish:hover:enabled,
        .button.finish:focus:enabled,
        .button.cancel:hover,
        .button.cancel:focus,
        .button.remove:hover,
        .button.remove:focus {
            background-color: #000;
            color: #fff;
        }

        & .finish:disabled {
            cursor: unset;
        }
    }
}