<section class="section-product-edit">
    <div class="container">

        <div class="header">
            <h1>Edit Product Form</h1>
        </div>

        <ng-container *ngIf="loading">
            <app-loader />
        </ng-container>
        
        <app-errors *ngIf="httpErrorsArr.length" />

        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!loading" method="post" action="#">
            <fieldset>
                <div class="row" [ngClass]="{'error': (image.touched || image.dirty) && image.invalid}">
                    <label for="image">
                        <input formControlName="image" class="fieldCtr" type="text" id="image" name="image" placeholder="Default Image URL" required appTrim />
                    </label>
                </div>
                <ng-container *ngIf="image.touched || image.dirty">
                    <div *ngIf="image.errors?.['required']" class="err-msg">Default Image URL is required!</div>
                    <div *ngIf="!image.errors?.['required'] && image.errors?.['invalidImgUrl']" class="err-msg">Valid Default Image URL is required!</div>
                </ng-container>

                <div class="row color" formArrayName="altImges">
                    <button class="button add-alt-image-url" (click)="addAltImageUrl()">Add addt'l Image URL</button>
                    <div class="row custom" *ngIf="altImages.errors?.['required'] || altImages.length < 1" [ngClass]="{'error': altImages.errors?.['required'] || altImages.length < 1}">At least one addt'l Image URL per item is required!</div>
                    <div class="column-wrapper">
                        <div class="row" *ngFor="let altImage of altImages.controls; let i = index" [formGroupName]="i" [ngClass]="{'error': (altImages.at(i).get('altImage')?.touched || altImages.at(i).get('altImage')?.dirty) && altImages.at(i).get('altImage')?.invalid}">
                            <input formControlName="altImage" class="fieldCtr" type="text" [id]="'altImage'+[i]" placeholder="Addt'l Image-{{i+1}} URL" (input)="onImgUrlsChange(i)" required appTrim />
                            <ng-container *ngIf="altImages.at(i).get('altImage')?.touched || altImages.at(i).get('altImage')?.dirty">
                                <div *ngIf="altImages.at(i).get('altImage')?.errors?.['required']" class="err-msg">Addt'l Image-{{i+1}} URL is required!</div>
                                <div *ngIf="!altImages.at(i).get('altImage')?.errors?.['required'] && altImages.at(i).get('altImage')?.errors?.['invalidImgUrl']" class="err-msg">Valid Addt'l Image-{{i+1}} URL is required!</div>
                            </ng-container>
                            <button class="remove" (click)="removeAltImageUrl(i)"><i class="fa-regular fa-circle-xmark"></i>Remove</button>
                        </div>
                    </div>
                </div>

                <div class="cat-subcat-wrapper">
                    <div class="row cat-wrapper" [ngClass]="{'error': (category.touched || category.dirty) && category.invalid}">
                        <label for="cat">
                            <select formControlName="cat" name="cat" id="cat" (change)="onCategoryChange()">
                                <option value="">Choose Category</option>
                                <option *ngFor="let cat of categories" [ngValue]="cat.value">{{cat.label}}</option>
                            </select>
                        </label>
                        <ng-container *ngIf="category.touched || category.dirty">
                            <div *ngIf="category.errors?.['required']" class="err-msg">Category is required!</div>
                        </ng-container>
                    </div>

                    <div class="row subCat-wrapper" [ngClass]="{'error': (subcategory.touched || subcategory.dirty) && subcategory.invalid}">
                        <label class="row" for="subCat">
                            <select formControlName="subCat" name="subCat" id="subCat">
                                <option value="">Choose Subcategory</option>
                                <option *ngFor="let subCat of subCategoriesByCategory" [ngValue]="subCat.value">{{subCat.label}}</option>
                            </select>
                        </label>
                        <ng-container *ngIf="subcategory.touched || subcategory.dirty">
                            <div *ngIf="subcategory.errors?.['required']" class="err-msg">Subcategory is required!</div>
                        </ng-container>
                    </div>
                </div>

                <div class="row" [ngClass]="{'error': (description.touched || description.dirty) && description.invalid}">
                    <label for="description">
                        <input formControlName="description" class="fieldCtr" type="text" id="description" name="description" placeholder="Description" required appTrim />
                    </label>
                </div>
                <ng-container *ngIf="description.touched || description.dirty">
                    <div *ngIf="description.errors?.['required']" class="err-msg">Description is required!</div>
                </ng-container>

                <div class="row custom" [ngClass]="{'error': (size.touched || size.dirty) && size.invalid}">
                    <ng-multiselect-dropdown formControlName="size" class="fieldCtr" [settings]="dropdownSettings" [data]="dropdownList" placeholder="--select available sizes--" required />
                </div>
                <ng-container *ngIf="size.touched || size.dirty">
                    <div *ngIf="size.errors?.['required']" class="err-msg">At least one size selection is required!</div>
                </ng-container>

                <div class="row color" formArrayName="color">
                    <button [disabled]="colors.length === altImages.length" class="button add-color" (click)="addColorPicker()">Add color</button>
                    <div class="row custom" *ngIf="colors.errors?.['required'] || (colors.length < 1 || colors.length !== altImages.length)" [ngClass]="{'error': colors.errors?.['required'] || (colors.length < 1 || colors.length !== altImages.length)}">Colors must be equal to the addt'l Images!</div>
                    <div class="column-wrapper">
                        <div class="row" *ngFor="let color of colors.controls; let i = index" [formGroupName]="i">
                            <label [for]="colorsFbArr[i]+i">
                                <input formControlName="pickedColor" [id]="colorsFbArr[i]+i" [name]="colorsFbArr[i]+i" [(colorPicker)]="colorsFbArr[i]" [value]="colorsFbArr[i]" [style.background]="colorsFbArr[i]" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'hex'" placeholder="Pick a color" (colorPickerSelect)="onColorChange($event, i)" [cpPosition]="'bottom-right'" [cpOKButton]="true" [cpCancelButton]="true" required appTrim />
                            </label>
                            <button class="remove" (click)="removeColor(i)"><i class="fa-regular fa-circle-xmark"></i>Remove</button>
                        </div>
                    </div>
                </div>

                <div class="row" [ngClass]="{'error': (brand.touched || brand.dirty) && brand.invalid}">
                    <label for="brand">
                        <input formControlName="brand" class="fieldCtr" type="text" id="brand" name="brand" placeholder="Brand" required appTrim />
                    </label>
                </div>
                <ng-container *ngIf="brand.touched || brand.dirty">
                    <div *ngIf="brand.errors?.['required']" class="err-msg">Brand is required!</div>
                </ng-container>

                <div class="row" [ngClass]="{'error': (quantity.touched || quantity.dirty) && brand.invalid}">
                    <label for="quantity">
                        <input formControlName="quantity" class="fieldCtr" type="number" id="quantity" name="quantity" placeholder="Available Quantity" min="0" required />
                    </label>
                </div>
                <ng-container *ngIf="quantity.touched || quantity.dirty">
                    <div *ngIf="quantity.errors?.['required']" class="err-msg">Quantity is required!</div>
                </ng-container>

                <div class="row" [ngClass]="{'error': (price.touched || price.dirty) && price.invalid}">
                    <label for="price">
                        <input formControlName="price" class="fieldCtr" type="number" id="price" name="price" placeholder="Price$" inputmode="decimal" min="0" step="0.01" required />
                    </label>
                </div>
                <ng-container *ngIf="price.touched || price.dirty">
                    <div *ngIf="price.errors?.['required']" class="err-msg">Price is required!</div>
                </ng-container>
            </fieldset>

            <div class="row button" [ngClass]="{'disabled':(form.invalid)}">
                <button [disabled]="form.invalid || altImages.length !== colors.length" class="button submit" type="submit"><i class="fa-regular fa-floppy-disk"></i>Save Changes</button>
            </div>

        </form>

    </div>
</section>