<p>profile works!</p>
<ng-container *ngIf="loading">
    <app-loader />
</ng-container>

<app-errors *ngIf="httpErrorsArr.length || customErrorsArr.length" />

<section *ngIf="!httpErrorsArr.length && !customErrorsArr.length" id="profile" class="section-profile">
    <div class="container">
        <nav class="tabs">
            <ul>
                <li #tabLiElements><a #tabAnchorElements routerLink="/auth/profile/overview" [attr.data-title]="'overview'">Overview</a></li>
                <li #tabLiElements><a #tabAnchorElements routerLink="/auth/profile/purchases" [attr.data-title]="'purchases'">Purchases</a></li>
                <li #tabLiElements><a #tabAnchorElements routerLink="/auth/profile/sales" [attr.data-title]="'sales'">Sales</a></li>
            </ul>
        </nav>
        <app-overview *ngIf="activeTab === 'overview'" />
        <app-purchases *ngIf="activeTab === 'purchases'" />
        <app-sales *ngIf="activeTab === 'sales'" />


    </div>
</section>