<section class="section-login">
    <div class="wrapper">
        <div class="title">
            <h2>Login</h2>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" method="post" action="#">
            <div class="row">
                <i class="fa-solid fa-at"></i>
                <input ngModel type="text" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input ngModel type="password" id="pass" name="pass" placeholder="Password" required>
            </div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">
                <p>Not a member?</p>
                <a routerLink="/auth/register">Signup now</a>
            </div>
        </form>
    </div>

</section>
