::selection {
    background: #5cb85c;
}

section.section-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 2em;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.7);
}

.wrapper .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding: 2em 1em;
    background: #22292F;
    border-radius: 2em 2em 0 0;
    color: #5270FF;
}

.wrapper .title h2 {
    font-weight: bold;
}

.wrapper form fieldset {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 2em;
    border: none;
}

.wrapper form fieldset .row {
    line-height: 2em;
    position: relative;
}

.wrapper form fieldset .row input {
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: all 0.3s ease;
}

form fieldset .row input:focus {
    border-color: #5cb85c;
    box-shadow: inset 0px 0px 2px 2px rgba(27, 136, 187, 0.25);
    outline: none;
}

form fieldset .row input::placeholder {
    color: #616161;
}

.wrapper form fieldset .row i {
    position: absolute;
    width: 3em;
    height: 100%;
    color: #5270FF;
    background: #22292F;
    border: 1px solid rgba(55, 255, 15, 0.001);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form fieldset .button input {
    font-weight: 500;
    padding-left: 0px;
    background-color: #22292F;
    color: #5270FF;
    border: 1px solid rgba(55, 255, 15, 0.001);
    cursor: pointer;
}

form fieldset div.row.button input:hover,
form fieldset div.row.button input:focus {
    color: #fff;
    background: #5cb85c;
    outline: none;
}

.wrapper form fieldset .signup-link {
    text-align: center;
    background-color: #22292F;
    border-radius: 0.2em;
    color: #5270FF;
}

.wrapper form fieldset .signup-link p {
    color: #fff;
}

.wrapper form fieldset .signup-link a {
    color: #5270FF;
    text-decoration: none;
    border: 1px solid rgba(55, 255, 15, 0.001);
}

.wrapper form fieldset div.signup-link a:hover,
.wrapper form fieldset div.signup-link a:focus {
    color: #fff;
    border: 1px solid #5cb85c;
    border-radius: 0.2em;
    outline: none;
}

.wrapper form fieldset div.row.button:active,
.wrapper form fieldset div.signup-link a:active {
    filter: blur(1px);
}

/* Error Styling */

.wrapper form fieldset div.err-msg {
    color: #cc0033;
    text-align: center;
}

.wrapper form fieldset div.error {
    background-color: #fce4e4;
    border: none;
    outline: none;

    &>input.fieldCtr,
    input.fieldCtr:focus {
        border-color: #cc0033;
    }

    &>input.fieldCtr:focus {
        box-shadow: inset 0px 0px 2px 2px rgba(126, 15, 15, 0.25);
    }
}

.wrapper form fieldset div.row.button input[type='submit']:disabled,
.wrapper form fieldset div.row.button:active {
    background-color: #696969;
    color: #faf0e6;
    opacity: 1;
    filter: none;
    cursor: unset;
}

.wrapper div.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    color: white;
}