@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font: 14px/1.5 "Montserrat Alternates", sans-serif;
}

body, table, input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: normal;
   padding: 0;
   margin: 0 0 0.3em 0;
   line-height: 1.2;
}

h1 { font-size: 2.8em; } /* 14 * 2.8 = 39px */
h2 { font-size: 2.2em; } /* 14 * 2.2 = 31px */
h3 { font-size: 1.8em; } /* 14 * 1.8 = 25px */
h4 { font-size: 1.6em; } /* 14 * 1.6 = 22px */
h5 { font-size: 1.2em; } /* 14 * 2.2 = 17px */
h6 { font-size: 1.0em; } /* 14 * 1.0 = 14px */

/* p, ul, ol {
    padding-bottom: 1.5em;
} */

/* ul, ol {
    padding-left: 1.6em;
} */

li {
    list-style-position: outside;
    list-style-type: none;
}

div.site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

[class*='section'] {
    padding: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* /////////////slick-carousel///////////// */
.carousel.slick-initialized.slick-slider {
    display: flex;
    flex: 1 1 95%;
    max-width: 95%;
    background-color: #fefefe;
    border: 1px solid rgba(136, 136, 136, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.slick-list.draggable {
    display: flex;
    flex: 1 1 100%;
    /* max-width: 100%; */
}

div.slick-track {
    display: flex;
    flex: 1 1 100%;
    /* max-width: 100%; */
    justify-content: center;
    align-items: center;
}

div.slide.slick-slide:hover,
div.slide.slick-slide:focus-within {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

button.slick-prev.slick-arrow::before,
button.slick-next.slick-arrow::before {
    color: #000;
}

img.img-carousel {
    padding: .3em 0;
    max-height: 25vh;
    object-fit: scale-down;
}