@media screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }

    div.site-container,
    section[class*="section"] {
        font-size: 0.80em;
    }

    div.modal {
        font-size: 0.80em;
        padding-top: 80px;
    }

}

@media screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }

    div.drop-down {
        display: none;
    }

    nav.desktop,
    nav.desktop ul.navbar {
        display: flex;
    }

    nav.desktop ul.navbar {
        gap: 1em;
    }

    div.site-container,
    section[class*="section"] {
        font-size: 0.8em;
    }

    div.modal {
        font-size: 0.8em;
        padding-top: 95px;
    }

}

@media screen and (min-width: 1100px) {
    html {
        font-size: 18px;
    }

    div.site-container,
    section[class*="section"] {
        font-size: 0.9em;
    }

    div.modal {
        font-size: 0.9em;
        padding-top: 115px;
    }
}