<ng-container *ngIf="loading">
    <app-loader />
</ng-container>

<app-errors *ngIf="httpErrorsArr.length" />

<div class="wrapper" *ngIf="!loading">
    <div class="left-wrapper">
        <section class="section-catalog">
            <div class="container">
                <div class="items">
                    <ul class="items">
                        <li class="item" *ngFor="let item of listItems; let i = index" [id]="item._id">
                            <div class="image">
                                <a [routerLink]="['/catalog/', item.cat, item.subCat, item._id]">
                                    <img src="{{item.image}}" alt="image" />
                                </a>
                            </div>
                            <p>Description: <span>{{item.description}}</span></p>
                            <p>Size: <span><ng-container *ngFor="let sz of item.size"> {{sz}}</ng-container></span></p>
                            <p>Color: <span><ng-container *ngFor="let col of item.color"> {{col}}</ng-container></span></p>
                            <p>Brand: <span>{{item.brand}}</span></p>
                            <p>Remaining: <span>{{item.quantity}}</span></p>
                            <p>Price: <span><strong>${{item.price}}</strong></span></p>                    
                            <div class="buttons">
                                <ul class="buttons">
                                    <li *ngIf="item._ownerId !== user?._id && !item.inCart" class="button buy" (click)="onAddToCart(i)">Add to basket</li>
                                    <li *ngIf="item._ownerId === user?._id" class="button edit">Edit</li>
                                    <li *ngIf="item._ownerId === user?._id" class="button delete" (click)="onDelete(i)">Delete</li>
                                </ul>
                            </div>
                            <p *ngIf="item.inCart" [ngClass]="{'in-cart': item.inCart}">Already in cart</p>
                            <p *ngIf="item._ownerId === user?._id" [ngClass]="{owner: item._ownerId === user?._id}">You are owner! You can't purchase this Item!</p>
                        </li>
        
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="right-wrapper">
        <div class="sticky">
            <a class="cart" routerLink="/cart">
                <span class="counter">{{cartItemsCounter}}</span><i class="fi fi-rr-shopping-cart-check"></i>
            </a>
        </div>
    </div>
</div>