<!-- The Modal -->
<li class="li-modal">
    <div class="modal"#modal>
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-wrapper close">
                    <span #closeBtn class="btn close-btn">&times;</span>
                </div>
                <h4>Shopping Cart</h4>
            </div>
            <div class="modal-body">
                <section class="header">
                    <div class="buttons">
                        <input #checkItAll type="button" id="selectAll" name="selectAll" class="button remove" [value]="selectAllButtonStatement ? 'deselect all' : 'select all'" (click)="toggleSelectAll()">
                        <input #removeItems type="button" id="remove-item" name="remove-item" class="button remove" value="Remove selected" (click)="removeSelected()">
                    </div>
                </section>

                <ng-container *ngIf="loading">
                    <app-loader />
                </ng-container>
                <form [formGroup]="form" (ngSubmit)="purchase()"  *ngIf="!loading">
                    <fieldset>
                        <div class="label">
                            <label class="label-header" for="select-row">Select</label>
                            <label class="label-header" for="media">Image</label>
                            <label class="label-header" for="description">Description</label>
                            <label class="label-header" for="selectedColor">Color</label>
                            <label class="label-header" for="selectedSize">Size</label>
                            <label class="label-header" for="selectedQuantity">Quantity</label>
                            <label class="label-header" for="price">Price</label>
                            <label class="label-header" for="product">Amount</label>
                            <div class="label-header">Remove</div>
                        </div>
                        <ng-container formArrayName="itms">
                            <ng-container #rows *ngFor=" let row of itms.controls; let i = index; trackBy: trackById">
                                <div [formGroupName]="i" class="itms">                                    
                                    <input formControlName="checked" [checked]="row.get('checked')?.value" class="itm selectRow" type="checkbox" name="selectRow">
                                    <input #imgUrl formControlName="image" [hidden]="true" [value]="row.get('image')?.value" class="media" type="text" name="media">
                                    <img class="itm" src="{{row.get('image')?.value}}" alt="image">
                                    <input #descrp formControlName="description" [hidden]="true" [value]="row.get('description')?.value" class="description" type="text" name="description">
                                    <span class="itm description">{{row.get('description')?.value}}</span>
                                    <select class="itm" formControlName="selectedColor" name="selectedColor" (change)="selectColor($event, i)">
                                        <option value="">select color</option>
                                        <option *ngFor="let col of row.get('colors')?.value; let i = index;" [value]="col">{{col}}</option>
                                    </select>
                                    <select class="itm" formControlName="selectedSize" name="selectedSize" (change)="selectSize($event, i)">
                                        <option value="">select size</option>
                                        <option *ngFor="let sz of row.get('sizes')?.value; let i = index;" [value]="sz">{{sz}}</option>
                                    </select>
                                    <input class="itm" formControlName="selectedQuantity" class="quantity" type="number" name="selectedQuantity" min="1" [max]="row.get('quantity')?.value" (change)="getProduct(row)">
                                    <input formControlName="price" [hidden]="true" [value]="row.get('price')?.value" class="price" type="number" name="price">
                                    <p class="itm price">${{row.get('price')?.value}}</p>
                                    <input formControlName="product" [hidden]="true" [value]="" class="prod" type="number" name="product">
                                    <span class="itm prod">${{row.get('product')?.value}}</span>
                                    <div class="itm buttons">
                                        <button class="button remove" type="button" (click)="removeItm(i)">Remove item</button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>

                        <div class="subtotal">
                            <span class="title">Subtotal:</span>
                            <span #subTotalEl class="amount">${{subTotal$$.value.toFixed(2)}}</span>
                        </div>
                        <div class="discount">
                            <span class="title">
                                <select #discount class="discount" formControlName="discount" name="discount" (change)="getDiscount($event)">
                                    <option value="">discount code</option>
                                    <option *ngFor="let disc of discountCodes$; let i = index;" [value]="disc.rate">{{disc.code}} - %{{disc.rate.toFixed(2)}}</option>
                                </select>
                            </span>
                            <span class="amount">&minus;${{discountValue.toFixed(2)}}</span>
                        </div>
                        <div class="shipping">
                            <span class="title">
                                <select class="shipping" formControlName="shipping" name="shipping" (change)="selectShipping($event)">
                                    <option value="">shipping method</option>
                                    <option *ngFor="let method of shippingMethods$; let i = index;" [value]="method.value">{{method.name}} - ${{method.value.toFixed(2)}}</option>
                                </select>
                            </span>
                            <span class="amount">${{shippingValue.toFixed(2)}}</span>
                        </div>
                        <div class="total modal-footer">
                            <span class="title">Total:</span>
                            <span class="amount">${{total.toFixed(2)}}</span>
                        </div>
                        
                        <div class="buttons">
                            <input class="button finish" type="submit" value="Finish">
                            <a class="button cancel" href="javascript:void(0)">Continue shopping</a>
                        </div>
                    </fieldset>
                </form>

            </div>
            <!-- <div class="modal-footer">
                <h3>Total</h3>
                <p #totalEl></p>
            </div> -->
            <!-- <div class="buttons">
                <a class="button finish" href="javascript:void(0)">Finish</a>
                <a class="button cancel" href="javascript:void(0)">Continue shopping</a>
            </div> -->
        </div>
    </div>
</li>