<section class-section-home>
    
    <span class="title-carousel">Recently added Clothes</span>
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of clothesSlides" class="slide">
            <a href="javascript:void(0)">
                <img src="{{ slide.img }}" alt="image" class="img-carousel">
            </a>
        </div>
    </ngx-slick-carousel>
    <span class="title-carousel">Recently added Shoes</span>
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of clothesSlides" class="slide">
            <a href="javascript:void(0)">
                <img src="{{ slide.img }}" alt="image" class="img-carousel">
            </a>
        </div>
    </ngx-slick-carousel>

    <!-- <div class="container">
        <div class="left-wrapper">
            <p>home works!</p>
        </div>
        <div class="right-wrapper">
            <div class="sticky">
                <a class="cart" routerLink="/cart">
                    <i class="fi fi-rr-shopping-cart-check"></i>
                </a>
            </div>
        </div>
    </div> -->
</section>