<section class-section-home>
    <div class="container">
        <div class="left-wrapper">
            <p>home works!</p>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
            <div class="box">BOX</div>
        </div>
        <div class="right-wrapper">
            <div class="sticky">
                <a class="cart" routerLink="/cart">
                    <i class="fi fi-rr-shopping-cart-check"></i>
                </a>
            </div>
        </div>
    </div>
</section>